<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Ithil - Discord Bot Usage Logs</title>
        <meta name="robots" content="noindex,nofollow" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />        
    </head>
    <body>
        <div class="grid place-items-center h-screen">
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Wallet</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in range(0, len)%}
                        <tr>
                            <th>{{i}}</th>
                            <td>{{requests[i].user}}</td>
                            <td>{{requests[i].wallet}}</td>
                            <td>{{requests[i].timestamp}}</td>
                        </tr>
                        {%endfor%}
                        {%if len == 0%}
                        <tr>
                            <th>0</th>
                            <td>-</td>
                            <td>Empty</td>
                            <td>-</td>
                        </tr>
                        {%endif%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Wallet</th>
                            <th>Timestamp</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>
